# Prisma Postgres
# Get your connection strings from Prisma Console: https://console.prisma.io
DATABASE_URL="postgres://USER:PASSWORD@db.prisma.io:5432/postgres?sslmode=require"
DIRECT_URL="postgres://USER:PASSWORD@db.prisma.io:5432/postgres?sslmode=require"

# WhatsApp numero da confeitaria (com codigo do pais)
WHATSAPP_NUMERO="5511999999999"

# Server port
PORT=3000
